services:
  waf:
    image: owasp/modsecurity-crs:nginx
    container_name: waf-nginx
    user: root
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./nginx/templates/conf.d/default.conf.template:/etc/nginx/templates/conf.d/default.conf.template:ro
      - ./nginx/templates/modsecurity.d/setup.conf.template:/etc/nginx/templates/modsecurity.d/setup.conf.template:ro
      - ./nginx/templates/modsecurity.d/modsecurity.conf.template:/etc/nginx/templates/modsecurity.d/modsecurity.conf.template:ro
      - ./nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template:ro
      - ./modsecurity/custom-rules:/opt/custom-rules:ro
      - ./logs/modsecurity:/var/log/modsecurity
      - ./logs/nginx:/var/log/nginx
      - ./html/403.html:/usr/share/nginx/html/403.html:ro
      - ./nginx/templates/conf/server.key:/etc/nginx/conf/server.key
      - ./nginx/templates/conf/server.crt:/etc/nginx/conf/server.crt
    environment:
      PARANOIA: 1
      ANOMALY_INBOUND: 10
      ANOMALY_OUTBOUND: 10
      TZ: Asia/Bangkok
    depends_on:
      - dvwa
    restart: unless-stopped
    networks:
      - waf-net

  dvwa:
    image: sagikazarmark/dvwa
    container_name: dvwa
    environment:
      - MYSQL_HOSTNAME=dvwa-db
      - MYSQL_DATABASE=dvwa
      - MYSQL_USERNAME=dvwa
      - MYSQL_PASSWORD=dvwa
    networks:
      - waf-net

networks:
  waf-net:
    driver: bridge