services:
  waf:
    image: owasp/modsecurity-crs:nginx
    container_name: waf-nginx
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./modsecurity/custom-rules:/etc/modsecurity.d/custom-rules
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./logs:/var/log/modsecurity
    environment:
      PARANOIA: 1
      ANOMALY_INBOUND: 10
      ANOMALY_OUTBOUND: 10
    restart: unless-stopped
    networks:
      - waf-net

networks:
  waf-net:
    driver: bridge
